:root {
    --primary-color: rgba(8, 132, 215, 1);
    --primary-variant: rgba(0, 163, 251, 1);
    --secondary-color: rgba(224, 116, 2, 1);
    --on-primary: rgba(250, 250, 250, 1);
    --on-background: rgba(66, 66, 66, 1);
    --on-background-alt: rgba(66, 66, 66, 0.5);
    --background: rgba(255, 255, 255, 1);
    --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
  }
  
  [data-theme="dark"] {
    --primary-color: rgba(32, 254, 225, 1);
    --primary-variant: rgba(0, 175, 152, 1);
    --secondary-color: rgba(238, 96, 164, 1);
    --on-primary: #000;
    --on-background: rgba(255, 255, 255, 0.9);
    --on-background-alt: rgba(255, 255, 255, 0.7);
    --background: #121212;
  }